#page-view {

    #editmodebutton {
        background-color: rgba(255,255,255,0.8);

        .circle {
            border: 2px solid #34a853;
            
            .ball {
                background: #34a853;
            }
        }
    }

}