#page-view {

    header {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .example {
        background-color: #a0a834!important;
    }

    .models {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        font-weight: 600;
        color: white;
        text-align: center;
        cursor: pointer;

        .model {
            background-color: #34a853;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 15px;

            &:hover {
                background-color: #348F4c;
            }
        }
    }

    .buttonSubmit {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        font-size: 16px;
        border: none;
        font-weight: 600;
        color: white;
        border-radius: 15px;
        background-color: #34a853;
        transition: 0.25s ease background-color;

        &:hover {
            background-color: #348F4c;
            transition: 0.25s ease background-color;
        }
    }

}